<div class="col-md-4 mb-4 mb-md-0">
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <%= link_to "Your_Listing", properties_path %>
            </li>
            <li class="list-group-item">
                <%= link_to "Your_reservations", "#" %>
            </li>
            <li class="list-group-item">
                <%= link_to "Your_Trips", "#" %>
            </li>
        </ul>
    </div>
</div>