<div class="jumbotron bg-jumbo text-center">
    <h1 class="display-4">About us</h1>
    <p>This is about page.</p>
    <p>
        This is a page I made my best.<br>
        Please get along well.
    </p>
</div>